{% set galleryType = helper.galleryType(item.images | length) %}
<div class="gallery gallery--{{ helper.galleryType(item.images | length) }}" data-length="{{ item.images | length }}">
  {% if galleryType === "full" %}
  <div class="gallery__wrapper swiper-wrapper">
  {% endif %}
    {% for image in item.images %}
    <figure class="gallery__item swiper-slide">
      <img src="{{ image.src }}" alt="{{ image.alt }}" loading="lazy">
      {% if image.caption %}
      <figcaption>{{ image.caption }}</figcaption>
      {% endif %}
    </figure>
    {% endfor %}
  {% if galleryType === "full" %}
  </div>
  <button class="gallery__button gallery__button--prev swiper-button-prev"></button>
  <button class="gallery__button gallery__button--next swiper-button-next"></button>
  <div class="gallery__pagination"></div>
  {% endif %}
</div>
