<div class="gallery{{ helper.galleryType(item.images | length) }}" data-length="{{ item.images | length }}">
  {% for image in item.images %}
  <figure class="gallery__item">
    <img src="{{ image.src }}" alt="{{ image.alt }}" loading="lazy">
    {% if image.caption %}
    <figcaption>{{ image.caption }}</figcaption>
    {% endif %}
  </figure>
  {% endfor %}
</div>
