<details id="{{ loop.index }}-{{ section.heading | slug }}" class="expandable"{% if section.open %} open=""{% endif %}>
  <summary class="expandable__summary"><h2 class="expandable__heading{% if numbered %} expandable__heading--numbered{% endif %}">{{ section.heading }}</h2></summary>
  <div class="expandable__wrapper">
    {% for item in section.section %}
      {% if item.type === "content" %}
        {% include "components/blocks/text.njk" %}
      {% elif item.type === "images" %}
        {% include "components/blocks/image-gallery.njk" %}
      {% elif item.type === "buttonLink" %}
        {% include "components/blocks/button-link.njk" %}
      {% elif item.type === "buttonFile" %}
        {% include "components/blocks/button-link.njk" %}
      {% elif item.type === "map" %}
        {% include "components/blocks/map.njk" %}
      {% elif item.type === "imagesGrid" %}
        {% include "components/blocks/image-grid.njk" %}
      {% endif %}
    {% endfor %}
  </div>
</details>
