<details class="expandable"{% if section.open %} open=""{% endif %}>
  <summary class="expandable__summary"><h2 class="expandable__heading">{{ section.heading }}</h2></summary>
  <div class="expandable__wrapper">
    {% for item in section.section %}
      {% if item.type === "content" %}
        {% include "components/blocks/text.njk" %}
      {% elif item.type === "images" %}
        {% include "components/blocks/image-gallery.njk" %}
      {% endif %}
    {% endfor %}
  </div>
</details>
