<footer class="footer">
  <div class="footer__content">{{ footer.content | parselinebreak | parsecurrentyear | safe  }}</div>
  <ul class="footer__links">
    {% for item in footer.links %}
    <li class="footer__link"><a href="{{ item.href }}" target="_blank">{{ item.content }}</a></li>
    {% endfor %}
  </ul>
</footer>
