{% for section in sections %}
  {% if section.type === "title" %}
    {% include "components/section-heading-large.njk" %}
  {% elif section.type === "expandable" %}
    {% include "components/expandable.njk" %}
  {% endif %}
{% endfor %}
