---
layout: "layouts/base.njk"
type: "page"
isHome: false
---

<main id="main">
  <section>
    {% include "components/sections.njk" %}
  </section>
  {% include "components/activity-cards.njk" %}
</main>
