---
layout: "layouts/base.njk"
type: "page"
---

{% if isHome %}
  {% include "partials/index-header.njk" %}
{% endif %}
<main id="main">
  <section>
    {% include "components/sections.njk" %}
  </section>
</main>
