{% include "partials/netlify/indentity.njk" %}
<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
<script src="/assets/scripts/main.min.js"></script>
{% include "partials/analytics/cloudflare.njk" %}
