<header class="header">
  <div class="header__top">
    <h1 class="header__logo site-title"><a href="/">{% include "components/logo.njk" %}</a></h1>
    <a class="header__partner-link" href="{{ header.headerLinkHref }}" target="_blank">{{ header.headerLinkContent }}</a>
  </div>
  <div class="menu">
    <button class="menu__button">Menu</button>
    <nav class="menu__nav menu__nav--hidden">
      <div class="content-desktop">
        {{ menu.content | markdown | safe }}
      </div>
      <div class="content-mobile">
        {{ menu.contentMobile | markdown | safe }}
      </div>
    </nav>
  </div>
  <nav class="header__pathways content-desktop">
    <ul class="header__pathways-wrapper">
      <li class="header__pathway"><a href="{{ menu.buttonOneHref }}">{{ menu.buttonOneContent }}</a></li>
      <li class="header__pathway"><a href="{{ menu.buttonTwoHref }}">{{ menu.buttonTwoContent }}</a></li>
    </ul>
  </nav>
</header>
