<section class="index-header">
  <div class="index-header__logo">{% include "components/logo.njk" %}</div>
  <a href="/#main" class="index-header__button button--rounded" title="Scroll down to main content">Digital Handbook</a>
  <ul class="index-header__icons">
    <li class="index-header__icon draggable draggable--shapes"><img src="/assets/images/icons/icon01.svg" alt=""></li>
    <li class="index-header__icon draggable draggable--tools"><img src="/assets/images/icons/icon02.svg" alt=""></li>
    <li class="index-header__icon draggable draggable--materials"><img src="/assets/images/icons/icon04.svg" alt=""></li>
    <li class="index-header__icon draggable draggable--lightbulb"><img src="/assets/images/icons/icon06.svg" alt=""></li>
    <li class="index-header__icon draggable draggable--plant"><img src="/assets/images/icons/icon07.svg" alt=""></li>
    <li class="index-header__icon draggable draggable--plane1"><img src="/assets/images/icons/icon09.svg" alt=""></li>
    <li class="index-header__icon draggable draggable--plane2"><img src="/assets/images/icons/icon10.svg" alt=""></li>
  </ul>
</section>
